* {
  margin: 0;
  box-sizing: border-box;
}

.items-container {
  display: none;
}

@font-face {
  font-family: 'BOG Headline';
  src: url('./fonts/BOG-Headline-Bold.woff2');
}

@font-face {
  font-family: 'BOG Regular';
  src: url('./fonts/BOG-Regular.woff2');
}


body {
  overflow-anchor: none;
  --color-primary-solid-10: #fb8d04;
  --color-primary-solid-20: #fb9517;
  --color-primary-solid-30: #fba336;
  --color-primary-solid-40: #fcb154;
  --color-primary-solid-50: #fedaae;
  --color-primary-solid-60: #ffedd6;
  --color-primary-solid-70: #fff6eb;
  --color-invert-background-solid-10: #192635;
  --color-invert-background-solid-20: #2b3a48;
  --color-invert-background-solid-30: #091a2b;
  --color-invert-background-solid-40: #2b3a48;
  --color-support-solid-first: #2b3a48;
  --color-invert-component-solid-10: rgba(255, 255, 255, 0.99);
  --color-invert-component-tr-20: rgba(255, 255, 255, 0.9);
  --color-invert-component-tr-30: rgba(255, 255, 255, 0.78);
  --color-invert-component-tr-40: rgba(255, 255, 255, 0.66);
  --color-invert-component-tr-50: rgba(255, 255, 255, 0.3);
  --color-invert-component-tr-60: rgba(255, 255, 255, 0.15);
  --color-invert-component-tr-70: rgba(255, 255, 255, 0.07);
  --color-invert-component-tr-80: rgba(255, 255, 255, 0.03);
  --color-invert-component-tr-90: rgba(255, 255, 255, 0);
  --color-greyish-fourth: var(--color-invert-component-tr-60);
  --input-background: var(--color-invert-background-solid-10);
  --background-color: var(--color-invert-background-solid-10);
  --solo-blue: var(--color-invert-background-solid-30);
  --solo-yellow: #faa21b;
  background-color: var(--solo-blue);
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  background-color: #091a2b;
}
.container {
  width: 1296px;
  margin: auto;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-left-navigation {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.header-left-navigation li {
  list-style-type: none;
}
.header-left-navigation li a {
  margin-right: 12px;
  color: var(--color-invert-component-tr-30);
  text-decoration: none;
  font-size: 14px;
}
li:first-of-type a {
  color: var(--color-primary-solid-20);
}
.icon-container {
  display: flex;
  align-items: center;
}
.conversion {
  width: 16px;
  height: 16px;
  margin-right: 24px;
}
.pin {
  width: 16px;
  height: 16px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone-wrapper {
  width: 32px;
  height: 32px;
  background-color: #fb8d04;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone-wrapper img {
  width: 16px;
  height: 16px;
}
.selects {
  max-width: 264px;
}

.select-wrapper {
  display: flex;
  height: 38px;
  background-color: #091a2b;
  border: none;
  color: var(--color-primary-solid-10);
  padding-left: 6px;
  font-weight: 500;
  font-size: 12px;
  outline: none;
}
.select-wrapper:hover {
  background-color: var(--color-invert-component-tr-80);
  border-radius: 20px;
}

.target {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 13px;
}
.become-solo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 124px;
  background-color: #fb8d04;
  border: none;
  color: rgba(255, 255, 255, 0.92);
  border-radius: 2px;
  font-size: 12px;
}

.header-bottom-content {
  display: flex;
}

#header-bottom {
  position: sticky;
  top: 0;
}

.header-bottom {
  display: flex;
  height: 58px;
  background-color: #2b3a48;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.menu-items {
  width: 100%;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: #ffffffeb;
}

ul {
  padding: 0;
}

.submenu-item {
  padding-right: 50px;
  font-weight: normal;
  font-size: 14px;
}

/* titlle */
.title {
  display: flex;
}
.title {
  color: #ffffff;
  margin-top: 64px;
  margin-bottom: 32px;
  font-family: 'BOG Headline';
}
.herro-banner {
  height: 300px;
  position: relative;
}
.herro-banner img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(43, 25, 25, 0.3), #2b1919);
  inset: 0;
  opacity: 1;
}
.banner-title {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 35%;
  left: 40px;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.herro-banner button {
  position: absolute;
  left: 40px;
  height: 32px;
  top: 55%;
  font-size: 12px;
  border-radius: 2px;
  background-color: var(--color-primary-solid-10);
  padding: 0 8px;
  color: white;
  text-transform: uppercase;
  align-items: stretch;
  font-weight: 500;
  font-family: MarkGEOCAPS, sans-serif;
  width: 120px;
  border: none;
}

.header-catalog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 32px;
}
.header-catalog-content-left {
  display: flex;
}
.header-catalog-content-right {
  display: flex;
}
.header-catalog h3 {
  color: white;
  font-size: 18px;
  font-family: 'BOG Headline';
}

.search {
  position: relative;
  margin: 0;
  display: flex;
  max-width: 200px;
  color: white;
  margin-right: 32px;
}

.input-text {
  height: 40px;
  background-color: #1c2b3b;
  border: 0;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  outline: none;
  caret-color: #fc6719;
  color: #646464;
}
.sumbit {
  border-radius: 100%;
  border: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.15);
}
.sumbit-icon {
  position: absolute;
  top: 0;

  height: 100%;
  display: flex;
  right: 18px;
  border-radius: 12px;
  border: 0;
}

.sort-catalog option {
  color: black;
}

.sort-catalog {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: solid 1px #2b3948;
  transition: border-color 200ms ease;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px 16px;
  outline: none;
}
.floating-button{
  display: flex;
  justify-content:center;
align-items: center;
  background-color: #fb8d04;;
  width: 100%;
  height:56px;

  font-size: 14px;
display: none;

}
.floating-button-content{
color:rgba(255, 255, 255, 0.92);
text-decoration: none;
text-transform: uppercase;

}

#off-count {
  margin-left: 12px;
}

/* offers */
.solo-developers {
  display: grid;
  grid-template-columns: 264px 1fr;
  gap: 32px;
}
.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.offer-item {
  width: 312px;
  height: 372px;
  border: 1px solid #293a47;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 4px;
  position: relative;
}

.offer-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.developer {
  color: white;
  font-weight: normal;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 12px;
}
.priceLabel {
  line-height: 1.4em;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 4px;
  color: white;
}
.address {
  color: #9ca3a9;
  font-weight: normal;
  font-size: 14px;
  padding-top: 4px;
}

.offers-button {
  align-self: flex-start;
  position: absolute;
  bottom: 24px;
  font-family: MarkGEO, sans-serif;
  background-color: transparent;
  color: var(--color-primary-solid-20);
  box-shadow: unset;
  --padding: 0;
  padding: 0px;
  --height: auto;
  border: none;
}
.offer-item:hover {
  background-color: #1f2c3a;
}
/* filter */



.filter-city {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  cursor: pointer;
  background-color: #1c2634;
  color: rgba(255, 255, 255, 0.66);
  font-weight: 500;
  font-size: 13px;
  height: auto;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 12px;
}

.filter-header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#city {
  margin-bottom: 16px;
  margin-right: 4px;
}
.city-filter-button {
  border: none;
  background-color: transparent;
  color: var(--color-invert-component-tr-40);
  cursor: pointer;
}
.city-filter-content {
  width: 100%;
  margin-top: 24px;
}
.city-filter-content label {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-invert-component-tr-40);
}

.price-filter {
  margin-top: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  cursor: pointer;
  background-color: #1c2634;
  color: rgba(255, 255, 255, 0.66);
  font-weight: 500;
  font-size: 13px;
  height: auto;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 12px;
}

.radio-item {
  display: flex;
  margin-top: 16px;
}

.radio-input {
  margin-right: 8px;
}

.status-filter {
  margin-top: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  cursor: pointer;
  background-color: #1c2634;
  color: rgba(255, 255, 255, 0.66);
  font-weight: 500;
  font-size: 13px;
  height: auto;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 12px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.price-filter-content {
  width: 100%;
  margin-top: 16px;
}

.status-filter-content {
  width: 100%;
  margin-top: 24px;
}

#status {
  margin-bottom: 16px;
  margin-right: 4px;
}

.footer-sections {
  bottom: 0;
  width: 100%;
  height: 106px;
  padding-top: 24px;
  border-top: 2px solid #2b3a48;
  margin-top: 64px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.language {
  width: 134px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.9);
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* empty item */
.items-container {
  width: 980px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.no-items {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 48px;
}
.no-items img {
  width: 90px;
  height: 60px;
}
.no-items h4 {
  margin-top: 16px;
  max-width: 420px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #cacaca;
}
.no-items span {
  margin-top: 16px;
  max-width: 420px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #cacaca;
}

input[type="checkbox"] {
  filter: hue-rotate(175deg);
}

input[type="radio"] {
  filter: hue-rotate(175deg);
}

.responsive-filter-button {
  display: none;
}

.offers-container {
  width: 100%;
}

a {
  font-family: 'BOG Regular';
}

label {
  font-family: 'BOG Regular';
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
  }
  .header-left-navigation {
    padding-right: 10px;
  }

  .header-left-navigation li:last-child {
    display: none;
  }

  .submenu-item {
    padding-right: 20px;
  }
  .solo-developers {
    grid-template-columns: 1fr 3fr;
  }
  .offers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
  }
  .offer-item {
    width: auto;
    height: auto;
    flex-direction: row-reverse;
  }

  .offer-content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .offer-image img {
    width: 172px;
    height: 110px;
  }
  .offers-button {
    left: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 720px;
  }
  .header-left-navigation,
  .icon-container {
    display: none;
  }
  .header-top-left {
    margin-right: 30%;
  }
  .header-bottom li:nth-last-child(6) {
    display: none;
  }
  .title {
    font-size: 24px;
    margin: 32px 0;
  }
  .banner-title {
    font-size: 20px;
  }
  .selects {
    display: none;
  }
  .solo-developers {
    display: flex;
  }
  .offers {
    width: 100%;
  }
  .priceLabel {
    font-size: 14px;
  }
  .header-catalog-content {
    flex-direction: column-reverse;
    padding-top: 32px;
  }
  .header-catalog-content-left {
    width: 100%;
    margin-top: 24px;
  }
  .header-catalog-content-right {
    width: 100%;
    display: flex;
    justify-content: right;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 327px;
  }
  .header-bottom {
    display: none;
  }
  .offer-image img {
    width: 102px;
    height: 74px;
  }
  .target,
  .become-solo-button {
    display: none;
  }
  .header-top-left {
    margin: 0;
  }
  .offers{
    gap: 24px;
  }
  .offer-item {
    padding: 16px;
    height: 178px;
  }
  .banner-title {
    font-size: 16px;
    max-width: 225px;
  }

  .herro-banner button {
    top: 62%;
  }
  .floating-button{
    display: flex;
  }
  .footer{
  display: inline-block;
  }
  .copyright{
    padding: 8px 0;
  }

  .header-catalog-content-right {
    width: 100%;
    flex-direction: column-reverse;
  }

  .responsive-filters {
    display: flex;
    flex-direction: row;
  }

  .responsive-filter-button {
    display: flex;
    margin-right: 16px;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color:#232f3d;
    border: none;
    color: white;
    justify-content: space-evenly;
  }

  .search {
    max-width: unset;
    margin: 0;
    margin-top: 16px;
  }

  .input-text {
    width: 100%;
  }
}
